<!doctype HTML>
<html>

<head>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'> Calculator!! Please enter a
    number followed by an operator (+, -, /, *) and another number.Click the = button to see the result!
    <style>
        body {
            background-color: rgb(176, 176, 255);
            text-align: center;
            padding: 1rem;
        }

        form {
            padding: 1rem;
        }
    </style>
</head>


{% block content %}
<!-- This is where your other files will extend from -->



{% endblock %}

</html>